<div class="relative bg-secondary mb-8 lg:mb-16 py-16 flex justify-center after:absolute after:top-1 after:right-0 after:w-32 after:h-3 after:rotate-[35deg] after:bg-wave after:bg-no-repeat before:absolute before:bottom-6 before:-left-3 before:bg-wave  before:w-28 before:h-3 before:rotate-[30deg]">
  <div class="container text-center">
    <h1 class="text-center relative before:absolute before:-top-4 before:-right-10 before:w-20 before:h-12 before:bg-[url('/images/about/1.png')] before:bg-no-repeat inline-block  ">@@title</h1>
  </div>
</div>