.bg-gradient {
  @apply bg-gradient-to-b from-[rgba(249,249,249,1)] from-[0.53%] to-white to-[83.28%];
}

.rounded-sm {
  @apply rounded-[4px];
}
.rounded {
  @apply rounded-[6px];
}
.rounded-lg {
  @apply rounded-[12px];
}
.rounded-xl {
  @apply rounded-[16px];
}

.shadow{
  @apply shadow-[0_4px_18px] shadow-primary/20;
}

//video button
.video-button{
  @apply absolute text-5xl top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white w-20 h-20 bg-primary flex items-center justify-center z-10 rounded-full;

  span{
    @apply absolute scale-0 top-0 -z-10 left-0 w-full h-full rounded-full bg-inherit  opacity-80;
    animation: pulse 4s ease-in-out infinite;

    &:nth-child(2){
      animation-delay: 1s;
    }
    
    &:nth-child(3){
      animation-delay: 2s;
    }

    &:nth-child(3){
      animation-delay: 3s;
    }
  }
}



@keyframes pulse {
  to {
    @apply scale-[2] opacity-0;
  }
}
