<!-- Call to actions -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="lg:col-5">
        <h2><span class="wave after:top-9 md:after:top-12">Get started</span> 7 days free trial</h2>
        <p class="mb-6">Lorem ipsum dolor sit amet consectetur corporis  consectetur maxime corporis cumqLorcorporis  consectetur.</p>
        <div class="flex flex-wrap">
          <input class="form-input flex-1 w-auto m-2" type="email" name="email" id="email" />
          <button class="btn btn-primary lg:ml-4 m-2">Know About Us</button>
        </div>
      </div>
      <div class="lg:col-6">
        <img class="mx-auto lg:ml-auto" width="370" height="281" src="images/about/5.png" alt="about-img">
      </div>
    </div>
  </div>
</section>
<!-- /Call to actions -->
