<footer class="container-fluid pb-0">
  <div class="container">
    <div class="row g-4">
      <div class="lg:col-3">
        <img class="lg:mb-6 mb-2" src="images/logo.png" alt="logo" />
        <p class="lg:mb-8 mb-2">Pellentesque lectus cum neque cursus sapien massa laoreet varius. Ultricies faucibus Aliquam mattis.</p>
        <h5 class="lg:mb-5">Email</h5>
        <p>deanna.curtis@example.com</p>
      </div>
      <div class="lg:col">
        <div class="row g-4">
          <div class="col-6 md:col-4 lg:col">
           <p class="text-xl font-semibold text-dark capitalize">Resources</p>
           <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
            <li class="text-lg leading-7 capitalize">integration</li>
            <li class="text-lg leading-7 capitalize">blog</li>
            <li class="text-lg leading-7 capitalize">blog single</li>
           </ul>
          </div>
          <div class="col-6 md:col-4 lg:col">
            <p class="text-xl font-semibold text-dark capitalize">Solutions</p>
            <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
             <li class="text-lg leading-7 capitalize">SaaS Renewal </li>
             <li class="text-lg leading-7 capitalize">SaaS Optimization</li>
             <li class="text-lg leading-7 capitalize">SaaS Onboarding </li>
             <li class="text-lg leading-7 capitalize">IT/ App Discovery</li>
             <li class="text-lg leading-7 capitalize">Shadow IT/ App</li>
             <li class="text-lg leading-7 capitalize">IT/  Discovery</li>
            </ul>
           </div>
           
           <div class="col-6 md:col-4 lg:col">
            <p class="text-xl font-semibold text-dark capitalize">Company</p>
            <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
             <li class="text-lg leading-7 capitalize">home</li>
             <li class="text-lg leading-7 capitalize">about us</li>
             <li class="text-lg leading-7 capitalize">Support</li>
             <li class="text-lg leading-7 capitalize">pricing</li>
            </ul>
           </div>

           <div class="col-6 md:col-4 lg:col">
            <p class="text-xl font-semibold text-dark capitalize">more links</p>
            <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
             <li class="text-lg leading-7 capitalize">changelog</li>
             <li class="text-lg leading-7 capitalize">team</li>
             <li class="text-lg leading-7 capitalize">carrier</li>
             <li class="text-lg leading-7 capitalize">FAQ</li>
            </ul>
           </div>
           <div class="col-6 md:col-4 lg:col">
            <p class="text-xl font-semibold text-dark capitalize">address</p>
            <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
             <li class="text-lg leading-7 capitalize">4517 Washington Ave. Manchester, Kentucky 39495</li>
             <li class="text-lg leading-7 capitalize"><strong class="text-dark">Support</strong></li>
             <li class="text-lg leading-7 capitalize">(629) ++555-0129  </li>
            </ul>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div class="border-t border-border py-7 mt-4">
    <div class="container text-center text-light">
      <p>
        Designed By Themefisher, Developed by Gethugothemes7
      </p>
    </div>
  </div>
</footer>

<!-- jQuery -->
<!-- <script src="plugins/jquery/jquery.min.js"></script> -->
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>
