<section class="pt-12 bg-theme-light">
  <footer>
    <div class="container">
      <div class="row gy-5 pb-4">
        <div class="lg:col-3">
          <img class="lg:mb-6 mb-3" src="images/logo.png" alt="logo" />
          <p class="lg:mb-8 mb-3">Pellentesque lectus cum neque cursus sapien massa laoreet varius. Ultricies faucibus
            Aliquam mattis.</p>
          <h5 class="lg:mb-5 mb-3">Email</h5>
          <p><a class="hover:text-primary" href="mailto:deanna.curtis@example.com">deanna.curtis@example.com</a></p>
        </div>
        <div class="lg:col">
          <div class="row g-4">
            <div class="col-12 md:col-6 lg:col">
              <p class="text-xl font-semibold text-dark">Resources</p>
              <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">Integration</a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">Blog</a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">Blog Single</a></li>
              </ul>
            </div>
            <div class="col-12 md:col-6 lg:col">
              <p class="text-xl font-semibold text-dark">Solutions</p>
              <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">SaaS Renewal </a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">SaaS Optimization</a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">SaaS Onboarding </a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">IT/ App Discovery</a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">Shadow IT/ App</a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">IT/ Discovery</a></li>
              </ul>
            </div>
            <div class="col-12 md:col-6 lg:col">
              <p class="text-xl font-semibold text-dark capitalize">Company</p>
              <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">Home</a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">About Us</a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">Support</a></li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?">Pricing</a></li>
              </ul>
            </div>
            <div class="col-12 md:col-6 lg:col">
              <p class="text-xl font-semibold text-dark">Address</p>
              <ul class="mt-2 space-y-2 lg:space-y-5 lg:mt-8">
                <li class="text-lg leading-7 capitalize">
                  <address class="not-italic">4517 Washington Ave. Manchester, Kentucky 39495
                  </address>
                </li>
                <li class="text-lg leading-7"><a class="hover:text-primary" href="#?"><strong
                      class="text-dark">Support</strong></a></li>
                <li class="text-lg leading-7">
                  <a class="hover:text-primary" href="tel:(629) ++555-0129">(629) ++555-0129</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="border-t border-border py-7 mt-4">
      <div class="container text-center text-light">
        <p>
          Designed By <a class="hover:text-primary" href="https://themefisher.com/">Themefisher</a> Developed by <a
            class="hover:text-primary" href="#?">Furious</a>
        </p>
      </div>
    </div>
  </footer>
</section>

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Swiper JS -->
<script src="plugins/swiper/swiper-bundle.js"></script>
<!-- Shuffle JS -->
<script src="plugins/shuffle/shuffle.min.js"></script>
<!-- Main Script -->
<script src="scripts/main.js"></script>